@import url('https://fonts.googleapis.com/css2?family=Signika:wght@300..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Yellowtail&display=swap');
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #c9184a;
  --dot-bg: #ffffff;
  --secondary: #f4f4f5;
  --dot-color: #e7abc2;
  --font-sans-custom: 'Signika', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
}

:root {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #c9184a;
    --foreground: #ededed;
    --dot-bg: #e7abc2;
    --secondary: #c9184a;
    --dot-color: #ededed;
  }
}

body {
  color: var(--foreground);
  font-family: var(--font-sans-custom);
  background-color: var(--dot-bg);
  background-image: radial-gradient(var(--dot-color) 1.5px, transparent 0);
  background-size: 40px 40px;
  background-attachment: fixed;
}
